*{  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/*hero section*/
.hero{
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/background1.jpg");
    background-color: #0a0a0a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.brand{
    color: white;
    font-size: 28px;
}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: 3s;
}

button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: 4s;
}

button:hover{
    transform: scale(1.25);
}

.about{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: #efefef;
}

.image{
    width: 38%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.about-img{
    position: static;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #ea1538;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #0a0a0a;
    border-bottom: .2rem solid #0a0a0a;
    border-left: .2rem solid #ea1538;
    border-right: .2rem solid #ea1538;
}

.about-content{
    margin: 15px 10px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    float: right;
}

.about-content p {
    font-size: 1.2rem;
    margin: 1rem 0.3rem;
}

#more{
    display: none;
    color: #efefef;
}

#dots{
    color: #efefef;
}


/*cards*/

.card{
    font-family: "Roboto",sans-serif;
    margin-top: 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,auto));
    justify-content: center;
    gap: 1.8rem;
}

.card-box{
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 5px 15px hsl(355deg 25% 15% / 10%);
    padding: 2px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #1951a5;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #1951a5;
}

.overlay::after{
    border-radius: 0px 25px 0px 0px;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #efefef;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #1951a5;
}

.article-title{
    font-size: 18px;
    font-weight: 650;
    color: #0a0a0a;
}

.description{
    font-size: 14px;
    color: #222121;
    text-align: center;
}

.base{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#like-section{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#like-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#like-button:hover{
   cursor: pointer;
   transform: scale(1); 
}

#like-button img{
    border-radius: 50%;
}

#like-count{
    margin-left: 10px;
    font-weight: bold;
}

#like-sec{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#like-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#like-btn:hover{
   cursor: pointer;
   transform: scale(1); 
}

#like-btn img{
    border-radius: 50%;
}

#like-counter{
    margin-left: 10px;
    font-weight: bold;
}

#like-ection{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#like-utton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#like-utton:hover{
   cursor: pointer;
   transform: scale(1); 
}

#like-utton img{
    border-radius: 50%;
}

#like-ount{
    margin-left: 10px;
    font-weight: bold;
}

#li-section{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#li-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#li-button:hover{
   cursor: pointer;
   transform: scale(1); 
}

#li-button img{
    border-radius: 50%;
}

#li-count{
    margin-left: 10px;
    font-weight: bold;
}

#lik-section{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#lik-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#lik-button:hover{
   cursor: pointer;
   transform: scale(1); 
}

#lik-button img{
    border-radius: 50%;
}

#lik-count{
    margin-left: 10px;
    font-weight: bold;
}

#l-section{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#l-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ea1538;
    padding: 2px 10px;
}

#l-button:hover{
   cursor: pointer;
   transform: scale(1); 
}

#l-button img{
    border-radius: 50%;
}

#l-count{
    margin-left: 10px;
    font-weight: bold;
}

.view-btn{
    float: left;
}

.like-comment{
    display: flex;
    justify-content: space-between;
}

.fa-heart{
    font-size: 25px;
    color: #ea1538;
}

.fa-comment{
    font-size: 25px;
    color: #021229;
}

.view-more{
    border: none;
    font-size: 16px;
    color: #efefef;
    padding: 8px 16px;
    background-color: #0d3165;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.view-more :hover{
    background-color: #265df2;
}

/* footer*/

footer{
    width: 100%;
    height: auto;
    background-color: #031630;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 35px 0;
}

.footer-logo p{
    font-size: small;
    padding-top: 25px;
}

.footer-img img{
    border-radius: 25% 10%;
    object-fit: cover;
    box-shadow: 0 0 15px #00040f;
}

hr{
    width: 100px;
}


/* newsletter*/

.news{
    box-shadow: 0 0 15px #00040f;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    padding-left: 25px;
}

input:hover{
    border-color: #1951a5;
    cursor: pointer;
}

.subscibe{
    width: 110px;
    height: 35px;
    border: none;
    padding: 10px 20px;
    color: #efefef;
    margin: 40px 135px;
}

.news hr{
    width: 280px;
}

/*social media*/
.social{
    align-content: center;
    width: 260px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px #00040f;
}

.social h2{
    padding: 0 30px;
}

.social hr{
    margin: 0 30px;
}

.social .icon{
    margin: 5px;
    padding: 0 60px;    
}

.social-icons li{
    display: block;
    list-style: none;
    align-items: center;
}

.social-icons li a{
    text-decoration: none;
    color: #dad7d7;
    align-self: center;
    transform: scale(0.8);
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    
}

.social-icons li {
    width: 135px;
    height: auto;
    border-radius: 30px 0 ;
    transition: all ease .4s;  
}

.social-icons li::before{
    content: "";
    background: #265df2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
}

.social-icons li:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #265df2;
}

.social-icons li:hover{
    color: #1d36d8;
    box-shadow: 0 0 15px #265df2;
    text-shadow: 0 0 15px #265df2;
}

.social-icons .instagram::before{
    background: #d35400;
}

.social-icons .instagram:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    
}

.social-icons .instagram:hover{
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.social-icons li a img{
    
    border-radius: 50%;
}

/*.container{
    max-width: 1536px;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}*/


/* media query*/

@media(max-width:360px){
    .container{
        max-width: 360px;
        height: auto;
    }

    .about{
        font-size: 0.3rem;
    }
    .heading{
        font-size: 0.5rem;
    }
    .buttom{
        transform: scale(0.5);
    }
    .footer{
        flex-direction: column;
    }
    .footer-logo{
        margin-top: 60px;
    }
    .social{
        margin-top: 100px;
    }
    .newsletter{ 
        margin-top: 100px;
    }

}

@media (max-width:475px) {
    .container{
        max-width: 475px;
       }
       .about{
        font-size: 0.3rem;
    }
    .heading{
        font-size: 0.5rem;
    }
    .buttom{
        transform: scale(0.5);
    }
    .about-img img{
        width: 50%;
    }
    .about-content p{
        font-size: 0.3rem;
    }
    input{
        width: 120px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-logo{
        margin-top: 60px;
    }
    .social{
        margin-top: 100px;
    }
    .newsletter{ 
        margin-top: 100px;
    }
}

@media (max-width:640px) {
    .container{
        max-width: 640px;
       }
       .footer{
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-logo{
        margin-top: 60px;
    }
    .social{
        margin-top: 100px;
    }
    .newsletter{ 
        margin-top: 100px;
    }
    
}

@media (max-width:768px) {
    .container{
        max-width: 768px;
       }
}

@media screen and(max-width:1024px) {
    .container{
        max-width: 1024px;
       }
}

@media screen and(max-width:1280px) {
    .container{
        max-width: 1280px;
       }
}

@media screen and(max-width:1536px) {
    .container{
        max-width: 1536px;
       }
}
